In [3]:
#Write a program that stores following names in a list.Also write instruction to iteratively print names from the list.
list_names=['ramu','shyamu','kanu','manu','ramu','radha','manu']
for i in range(0,7):
    print(list_names[i])

ramu
shyamu
kanu
manu
ramu
radha
manu

In [5]:
#Write a program to remove duplicates from the list (created in Ex:(1)) and print unique names.
list_names=['ramu','shyamu','kanu','manu','ramu','radha','manu']
res = [] 
for i in list_names: 
    if i not in res: 
        res.append(i) 
print(res)

['ramu', 'shyamu', 'kanu', 'manu', 'radha']

In [6]:
#Write a program to create a record of student details. The record maintains following information < student_id, name, age, percentage>.
student_record=[[1, 'ram', '18', '65%'],[2, 'shyam', '17', '70%']]
student_record.append([3, 'Radha', '17', '75%'])

In [3]:
#Write a program to concat student records (created in (3)) of different semesters.
student_record = {'sem1' : [1, 'Ram', 18, 65], 'sem2' : [2, 'shyam', 17, 70]}
student = {'sem 5' : [5,"radha",17,75]}
student_record.update(student)
print(student_record)

{'sem1': [1, 'Ram', 18, 65], 'sem2': [2, 'shyam', 17, 70], 'sem 5': [5, 'radha', 17, 75]}

In [4]:
#Write a program to print record of first 5 students.
student_record={'record1':[1, 'ram', 18, 65], 'record2':[2, 'shyam', 17, 70],'record3': [3, 'radha', 17, 75],'record4':[4,'chintan',18,95],'record5':[5,'noone',17,87]}
student_record

{'record1': [1, 'ram', 18, 65],
 'record2': [2, 'shyam', 17, 70],
 'record3': [3, 'radha', 17, 75],
 'record4': [4, 'chintan', 18, 95],
 'record5': [5, 'noone', 17, 87]}

In [6]:
#Write a program to delete record of a specific student (e.g. ramu).
student_record={'record1':[1, 'ramu', 18, 65], 'record2':[2, 'shyam', 17, 70],'record3': [3, 'radha', 17, 75],'record4':[4,'chintan',18,95],'record5':[5,'noone',17,87]}
student_record
student_record.pop('record1')
student_record

{'record2': [2, 'shyam', 17, 70],
 'record3': [3, 'radha', 17, 75],
 'record4': [4, 'chintan', 18, 95],
 'record5': [5, 'noone', 17, 87]}

In [10]:
#Write a program to combine following dictionaries by averaging values for common keys.
D1 = {'ram':60, 'shyam':70, 'radha':70}
D2 = {'ram':70, 'shyam':80, 'gopi':60}
D3=dict(D1)
D3.update(D2)
for i,j in D1.items():
  for a,b in D2.items():
    if i==a:
      D3[i]=(j+b)//int(2)
D3

{'ram': 65, 'shyam': 75, 'radha': 70, 'gopi': 60}

In [19]:
#Write a program to sort student record by values (e.g. name).
student_record={'ram':60, 'shyam':56, 'radha':78, 'gopi':67, 'khushi':80}
print(sorted(student_record))

['gopi', 'khushi', 'radha', 'ram', 'shyam']

In [15]:
#Write a program to print all unique values in a dictionary.
a=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}] 
unique=set(j for i in a for j in i.values())
print("Unique values : ",unique)

Unique values :  {'S005', 'S001', 'S009', 'S007', 'S002'}

In [16]:
#Following are the lists of students studying Maths, Physics and Chemistry subjects,
Maths = {1, 2, 3, 5, 7, 9}
Physics = { 2, 4, 6, 9}
Chemistry = {1, 3, 5, 9}
#Display the numbers which are studying both maths & physics, physics &
#chemistry, maths&chemistry and all three. Also, display the numbers which are
#studying exactly one of the three subjects.
print("Maths and Physics: ",Maths.intersection(Physics))
print("Physics and Chemistry: ",Physics.intersection(Chemistry))
print("Maths and Chemistry: ",Maths.intersection(Chemistry))
print("Maths and Physics and Chemistry: ",Maths.intersection(Physics).intersection(Chemistry))
print("Maths or Physics or Chemistry: ",Maths.difference(Physics).difference(Chemistry),",", Physics.difference(Maths).difference(Chemistry),",", Chemistry.difference(Maths).difference(Physics))

Maths and Physics:  {9, 2}
Physics and Chemistry:  {9}
Maths and Chemistry:  {1, 3, 5, 9}
Maths and Physics and Chemistry:  {9}
Maths or Physics or Chemistry:  {7} , {4, 6} , set()

In [2]:
#1. Check the output of following code and justify your answer:
x=50
def func(x):
    print('X is :', x)
    x=2
    print('changed local X to :', x)
func(x)
print('X is now :',x)
#in this code x is initialized with value 50 outside the function and now inside the function it creates a local copy(scope limited to the function only) of the variable and copies the value of the x from outside the function but the global copy of the variable doesn't change with change in local copy so the statement 'x=2' changes value of only the local copy and from outside of the function the global x variable is accessed so it prints value as 50.

X is : 50
changed local X to : 2
X is now : 50

In [18]:
#2. Write a function to print largest number from provided 3 values as parameter.
def largest(x,y,z):
    if(x>y and x>z):
        print(x)
    if(y>x and y>z):
        print(y)
    if(z>x and z>y):
        print(z)
    return
print("enter three numbers :")
x=input()
y=input()
z=input()
largest(x,y,z)

enter three numbers :
852

In [27]:
#3. Write a function to print prime numbers between provided range.
def primetest(lb,ub):
    for num in range(lb,ub+1):
        if num > 1:
            for i in range(2, num):
                if (num % i) == 0:
                    break
            else:
                print(num)
print("enter lower bound and upper bound : ")
lb=int(input())
ub=int(input())
primetest(lb,ub)

enter lower bound and upper bound :

In [2]:
#4. Write a function to swap two values provided as arguments.
def swap(num1,num2):
    temp=num1
    num1=num2
    num2=temp
    print("value of num1 and num2 respectively after swap : " ,num1,num2)
print("Enter num1 and num2 respectively :")
num1=int(input())
num2=int(input())
swap(num1,num2)

Enter num1 and num2 respectively :
value of num1 and num2 respectively after swap :  100 50

In [34]:
#Write a function to compute simple interest using provided values as arguments if rate of interest is not provided consider it as 3.5%.
def calculateinterest(principle,time,interest=3.5):
    final=float(principle)*float(time)*float(interest/100)
    print("final amount is:",final+float(principle))
print("enter principle amount :")
principle=input()
print("enter time in years :")
time=float(input())
print("do you want to enter interest rate? y/n")
answer=input()
if(answer=='y'):
    print("enter annual interest rate :")
    interest=float(input())
    calculateinterest(principle,time,interest)
else:
    calculateinterest(principle,time)

enter principle amount :
enter time in years :
do you want to enter interest rate? y/n
final amount is: 535.0

In [1]:
#Write a function to compute the sum of data of variable length.
def variable_length(*arr):
    s=0
    for i in range (0,len(arr)):
        s+=arr[i]
    print(s)

variable_length(123,956)
variable_length(323,1658,1358,552,152)

1079
4043